@page "/"
@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>

<h1 id="homeTitle">Thank you coop</h1>

<div>
    @((MarkupString)htmlWithWebComponent)
</div>

@code {
    private const string htmlWithWebComponent = "<background-video></background-video>";
}
