@rendermode InteractiveServer

<video id="background-video-1" class="background-video" autoplay muted preload="auto" playsinline></video>
<video id="background-video-2" class="background-video" autoplay muted preload="auto" playsinline></video>
<div id="video-info"></div>
<div class="video-overlay">
    <h1>hello world</h1>
</div>

<script src="js/background-video.js"></script>

