@rendermode InteractiveServer

<video id="background-video" class="background-video" autoplay muted preload="auto" playsinline></video>
<div id="video-info"></div>

<script src="js/background-video.js"></script>

