@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<video autoplay muted loop style="width:100%;max-height:30vh;object-fit:cover" src="/api/waterfall-video"></video>
